.list {
  padding: 10px 0;

  font-size: 21px;

  list-style-type: none;
}

.list__item {
  padding-top: 15px;
  padding-bottom: 15px;

  font-style: italic;

  text-decoration: underline;
}

.list__item a {
  color: #e6b5b5;
}

.list__item--mod {
  color: #96c0e2;
}

.list__item--calc {
  color: #2196f3;
}

.list__item a:hover {
  color: #b18b8b;
}

.list__item a:active {
  color: #6b3e3e;
}
