.main__name {
  margin-top: 25px;
}

.main__table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding-left: 100px;
  padding-right: 100px;
}

.main__discord {
  margin-top: 25px;
  margin-bottom: 25px;
}

.main__title--planet {
  color: #f3bc16;
}

.main__text--planet {
  padding-right: 20px;
  padding-left: 20px;

  color: #90c7e0;
  text-align: center;
}

.main__list--planet {
  color: #f3bc16;
}

.main ol {
  width: 40%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main__text--planet {
    padding-right: 20px;
    padding-left: 20px;

    text-align: justify;
  }

  .main ol {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .main__text--planet {
    padding-left: 100px;
    padding-right: 100px;
  }

  .main ol {
    width: 20%;
  }
}
