.main {
  padding-bottom: 50px;
}

.main__name {
  margin-top: 25px;
}

.main__table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding-left: 20px;
  padding-right: 20px;
}

.main__discord {
  margin-top: 25px;
  margin-bottom: 25px;
}

.main__title {
  color: #f3bc16;
  line-height: 30px;
}

.main__text {
  padding-right: 10px;
  padding-left: 10px;

  color: #90c7e0;
  text-align: center;
}

.main__text--terms {
  margin-left: 10px;
}

.main__list--planet {
  color: #f3bc16;
}

.main ol {
  width: 40%;
  margin: 0 auto;
}

.main__content {
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 0;

  list-style-type: none;
}

.main__content li {
  padding-top: 10px;
}

.main__text--a {
  color: #ffeb3b;
}

@media (min-width: 768px) {
  .main__text {
    padding-right: 20px;
    padding-left: 20px;

    text-align: justify;
  }

  .main__text--support,
  .main__text--levels {
    text-align: center;
  }

  .main__table {
    padding-left: 100px;
    padding-right: 100px;
  }

  .main ol {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .main__text {
    padding-left: 100px;
    padding-right: 100px;
  }

  .main ol {
    width: 20%;
  }
}
