.section {
  min-width: 500px;
  margin: 0;

  font-size: 24px;
}

.section--one {
  margin-left: 100px;
}

.section--links {
  margin-top: 50px;
}

.section__list {
  margin-top: 0;

  color: #d0c197;

  list-style: none;
}

.section__name {
  padding-top: 20px;
  margin: 0;

  color: #f5dd0b;
}
