.table {
  width: 55%;
  margin: 15px auto;
}

.table--min {
  width: 20%;
}

.table__gray {
  background-color: #2b2a2a;
}

.table__gray--dark {
  text-align: center;

  background-color: #4a4949;
}

.table--extra {
  margin-bottom: 20px;
}
